In [1]:
import pandas as pd

In [35]:
df = pd.read_excel("Original UA Data.xlsx")

In [36]:
df

,Sec,Date,Rochester,% increase,Albany,% increase.1,Fairfield County,% increase.2,Buffalo,% increase.3,...,Vancouver,Inland Empire,Los Angeles,Orange County,San Diego,San Fernando,San Francisco,San Jose,Portland,Seattle
0,# readers/month,Jan 2012,23300.0,NaN,3511.0,NaN,1570.0,NaN,441.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,# readers/month,Feb 2012,22900.0,NaN,3815.0,NaN,1746.0,NaN,479.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,# readers/month,Mar 2012,28258.0,NaN,6316.0,NaN,2078.0,NaN,538.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,# readers/month,Apr 2012,32146.0,NaN,6152.0,NaN,2335.0,NaN,758.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,# readers/month,May 2012,26579.0,NaN,5258.0,NaN,2857.0,NaN,664.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,# Readers/year,Sept 2023,4387596.0,NaN,321762.0,NaN,191878.0,NaN,408108.0,NaN,...,272064.0,120189.0,72041.0,107921.0,111887.0,44939.0,36576.0,139614.0,7565.0,112735.0
567,# Readers/year,Oct 2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568,# Readers/year,Nov 2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
569,# Readers/year,Dec 2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
570,# Readers/year,Jan 2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

In [38]:
col_to_remove = df.filter(like = "%").columns
df.drop(columns=col_to_remove, inplace=True)

/var/folders/rv/g2dxdl8d0cs8r1fdld2vzkxm0000gn/T/ipykernel_16149/2750413218.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=col_to_remove, inplace=True)

In [39]:
df

,Sec,Date,Rochester,Albany,Fairfield County,Buffalo,Houston,Salt Lake,Ann Arbor/Detroit,St. Louis,...,Vancouver,Inland Empire,Los Angeles,Orange County,San Diego,San Fernando,San Francisco,San Jose,Portland,Seattle
0,# readers/month,Jan 2012,23300.0,3511.0,1570.0,441.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,# readers/month,Feb 2012,22900.0,3815.0,1746.0,479.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,# readers/month,Mar 2012,28258.0,6316.0,2078.0,538.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,# readers/month,Apr 2012,32146.0,6152.0,2335.0,758.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,# readers/month,May 2012,26579.0,5258.0,2857.0,664.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,# Readers/year,Sept 2023,4387596.0,321762.0,191878.0,408108.0,464402.0,294721.0,134904.0,429838.0,...,272064.0,120189.0,72041.0,107921.0,111887.0,44939.0,36576.0,139614.0,7565.0,112735.0
567,# Readers/year,Oct 2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568,# Readers/year,Nov 2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
569,# Readers/year,Dec 2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
570,# Readers/year,Jan 2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
df.dtypes

Sec                      object
Date                     object
Rochester               float64
Albany                  float64
Fairfield County        float64
Buffalo                 float64
Houston                 float64
Salt Lake               float64
Ann Arbor/Detroit       float64
St. Louis               float64
Westchester             float64
Hudson Valley           float64
Hartford                float64
Denver                  float64
Austin                  float64
San Antonio             float64
Nashville                object
MSP                     float64
Atlanta                 float64
Phoenix                 float64
Research Triangle       float64
Charlotte               float64
Dallas                  float64
DMV                     float64
Ft Worth                float64
Midcities               float64
Indianapolis            float64
Jacksonville            float64
Kansas City             float64
Memphis                 float64
Milwaukee               float64
Nassau / Long Island    float64
Philadelphia            float64
Pittsburgh              float64
Providence              float64
Suffolk                 float64
Tampa                   float64
Toronto                 float64
Vancouver               float64
Inland Empire           float64
Los Angeles             float64
Orange County           float64
San Diego               float64
San Fernando            float64
San Francisco           float64
San Jose                float64
Portland                float64
Seattle                 float64
dtype: object

In [41]:
df_2023 = df[df['Date'].str.contains('2023', na=False)]

In [42]:
df_users = df_2023[df_2023["Sec"]=="# readers/month"].transpose().drop('Sec')
df_users

,132,133,134,135,136,137,138,139,140,141
Date,Jan 2023,Feb 2023,Mar 2023,Apr 2023,May 2023,June 2023,July 2023,Aug 2023,Sept 2023,Oct 2023
Rochester,717495.0,492566.0,602215.0,179723.0,61192.0,71558.0,71371.0,66810.0,44879.0,57703.0
Albany,30469.0,21246.0,22082.0,25621.0,29357.0,36218.0,33571.0,30501.0,17238.0,NaN
Fairfield County,20577.0,11459.0,10713.0,14005.0,20300.0,17808.0,16202.0,14877.0,10061.0,NaN
Buffalo,35504.0,28303.0,31958.0,32377.0,36765.0,46377.0,47950.0,38288.0,20911.0,NaN
Houston,35236.0,25518.0,34883.0,38787.0,42552.0,48946.0,54317.0,34499.0,27814.0,NaN
Salt Lake,25139.0,17400.0,20850.0,23192.0,29593.0,37023.0,28651.0,22417.0,17489.0,NaN
Ann Arbor/Detroit,14712.0,7949.0,8507.0,10719.0,14071.0,14147.0,11899.0,10452.0,17238.0,NaN
St. Louis,37801.0,27993.0,33370.0,31043.0,40717.0,49009.0,40412.0,33014.0,27179.0,NaN
Westchester,21588.0,13875.0,16009.0,15846.0,20729.0,22188.0,20362.0,18521.0,16281.0,NaN
Hudson Valley,19287.0,12264.0,16778.0,17655.0,22713.0,27109.0,19485.0,19287.0,13075.0,NaN
Hartford,13719.0,7508.0,7506.0,10539.0,12222.0,13115.0,11958.0,11944.0,7437.0,NaN
Denver,36146.0,23978.0,27973.0,27270.0,33167.0,34529.0,32608.0,29428.0,28757.0,NaN
Austin,24873.0,16209.0,21945.0,27439.0,29205.0,36588.0,31490.0,21702.0,15649.0,NaN
San Antonio,31336.0,23818.0,35010.0,42236.0,42655.0,47383.0,43302.0,32624.0,24749.0,NaN
Nashville,21306,13443,17662,18837,24722,29819,23513,18142,15173,NaN
MSP,23745.0,15673.0,20114.0,18628.0,21622.0,25110.0,23781.0,20802.0,14693.0,NaN
Atlanta,21558.0,14470.0,19116.0,23322.0,28666.0,31187.0,26726.0,20061.0,15652.0,NaN
Phoenix,25136.0,19417.0,25686.0,28379.0,33473.0,33400.0,27053.0,23824.0,19890.0,NaN
Research Triangle,11423.0,5450.0,6575.0,9354.0,12254.0,13775.0,10316.0,9925.0,6944.0,NaN
Charlotte,24966.0,17416.0,19933.0,23583.0,29545.0,29135.0,28883.0,23455.0,22855.0,NaN
Dallas,31353.0,21832.0,34934.0,31287.0,43871.0,46350.0,46336.0,30372.0,25006.0,NaN
DMV,19622.0,11367.0,14805.0,18471.0,19026.0,20545.0,22081.0,16662.0,12949.0,NaN
Ft Worth,17942.0,11827.0,16405.0,18948.0,28041.0,32807.0,27893.0,16583.0,12338.0,NaN
Midcities,5059.0,2680.0,3406.0,2848.0,4120.0,6665.0,6589.0,5632.0,1877.0,NaN
Indianapolis,19220.0,11560.0,12787.0,17746.0,24581.0,28720.0,25098.0,21351.0,19341.0,NaN
Jacksonville,14688.0,8763.0,10971.0,11469.0,13791.0,13686.0,13395.0,12331.0,9844.0,NaN
Kansas City,15250.0,9386.0,12551.0,13871.0,19198.0,18264.0,16333.0,14902.0,13256.0,NaN
Memphis,14158.0,9575.0,13703.0,18315.0,22579.0,21135.0,21027.0,15188.0,12793.0,NaN
Milwaukee,14290.0,8184.0,9561.0,12793.0,19924.0,24653.0,21657.0,16493.0,14785.0,NaN
Nassau / Long Island,17926.0,11855.0,12679.0,17861.0,19649.0,19121.0,7324.0,6465.0,4964.0,NaN
Philadelphia,14212.0,9192.0,11672.0,13979.0,15442.0,17560.0,14530.0,13954.0,8838.0,NaN
Pittsburgh,18998.0,12839.0,14326.0,18512.0,22587.0,20962.0,20630.0,16351.0,11920.0,NaN
Providence,12467.0,7195.0,7310.0,11059.0,17395.0,18936.0,20080.0,19037.0,11600.0,NaN
Suffolk,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
Tampa,13481.0,8397.0,8512.0,11128.0,13807.0,12619.0,11335.0,10901.0,7530.0,NaN
Toronto,26892.0,21658.0,25749.0,25808.0,28108.0,28404.0,36622.0,35177.0,25325.0,NaN
Vancouver,23160.0,19842.0,23005.0,26126.0,24261.0,28456.0,26609.0,26106.0,16478.0,NaN
Inland Empire,11307.0,5527.0,6029.0,9548.0,11913.0,12864.0,10439.0,7726.0,6895.0,NaN
Los Angeles,6101.0,4000.0,5658.0,6898.0,6418.0,7056.0,7324.0,6465.0,4964.0,NaN
Orange County,8522.0,5873.0,7659.0,8292.0,9550.0,10920.0,12487.0,11791.0,11164.0,NaN
San Diego,10907.0,6132.0,8259.0,8928.0,10998.0,11122.0,9934.0,9863.0,9708.0,NaN
San Fernando,3873.0,2555.0,2805.0,3708.0,3265.0,4581.0,4802.0,4477.0,2277.0,NaN
San Francisco,3808.0,1903.0,1553.0,2343.0,2941.0,3717.0,4145.0,3178.0,1649.0,NaN
San Jose,13267.0,8818.0,8666.0,12681.0,13596.0,12840.0,11852.0,10343.0,9921.0,NaN
Portland,7619.0,4421.0,5310.0,6762.0,5478.0,7941.0,7694.0,7567.0,5200.0,NaN
Seattle,10783.0,6554.0,10013.0,10117.0,11493.0,11373.0,10942.0,10874.0,6958.0,NaN

In [43]:
df_pageviews = df_2023[df_2023["Sec"]=="# pageviews/month"].transpose().drop('Sec')
df_pageviews

,416,417,418,419,420,421,422,423,424,425
Date,Jan 2023,Feb 2023,Mar 2023,Apr 2023,May 2023,June 2023,July 2023,Aug 2023,Sept 2023,Oct 2023
Rochester,166241.0,122556.0,139526.0,138582.0,132847.0,179498.0,160671.0,141549.0,117637.0,180383.0
Albany,74701.0,66503.0,71694.0,74052.0,71156.0,104716.0,88194.0,72232.0,57204.0,14075.0
Fairfield County,35454.0,24970.0,28091.0,29449.0,36867.0,35949.0,33306.0,28665.0,23553.0,NaN
Buffalo,83358.0,76988.0,98842.0,91914.0,92767.0,132515.0,122597.0,89762.0,66605.0,NaN
Houston,69106.0,58187.0,89746.0,95465.0,105012.0,126174.0,112476.0,66214.0,67294.0,NaN
Salt Lake,52939.0,45117.0,61339.0,64035.0,73752.0,98071.0,73838.0,50742.0,51031.0,NaN
Ann Arbor/Detroit,25731.0,18976.0,24669.0,26508.0,29001.0,33864.0,29477.0,23005.0,57204.0,NaN
St. Louis,78601.0,63642.0,81889.0,73827.0,88844.0,111277.0,91077.0,68423.0,65270.0,NaN
Westchester,43285.0,32638.0,39212.0,36247.0,40475.0,44746.0,43681.0,42005.0,38309.0,NaN
Hudson Valley,39502.0,32808.0,46660.0,45931.0,49395.0,72074.0,47374.0,42425.0,34986.0,NaN
Hartford,24827.0,18111.0,22650.0,27834.0,26522.0,32608.0,28753.0,23735.0,17717.0,NaN
Denver,83444.0,62502.0,83079.0,73829.0,81783.0,100809.0,87143.0,72797.0,83650.0,NaN
Austin,54270.0,42537.0,63947.0,74004.0,69852.0,98837.0,71930.0,45900.0,41436.0,NaN
San Antonio,66360.0,58322.0,96977.0,101451.0,109981.0,130634.0,104572.0,68988.0,64329.0,NaN
Nashville,49562,36494,49543,47806,59345,75809,56851,40849,39764,NaN
MSP,59886.0,45106.0,59567.0,50010.0,50686.0,71017.0,60691.0,48365.0,45314.0,NaN
Atlanta,24013.0,17031.0,22334.0,26930.0,32847.0,35747.0,31838.0,22677.0,18487.0,NaN
Phoenix,58072.0,52662.0,80278.0,86215.0,100053.0,108338.0,81702.0,66514.0,69894.0,NaN
Research Triangle,19491.0,11575.0,17944.0,19029.0,22182.0,24597.0,20948.0,18856.0,19697.0,NaN
Charlotte,59103.0,45414.0,54739.0,62369.0,70393.0,71111.0,69440.0,60264.0,52886.0,NaN
Dallas,57476.0,46042.0,78525.0,70665.0,95669.0,106983.0,97282.0,60173.0,57836.0,NaN
DMV,21351.0,27806.0,27806.0,27806.0,27806.0,27806.0,27806.0,27806.0,27806.0,NaN
Ft Worth,34838.0,27930.0,43718.0,48966.0,67848.0,91022.0,62294.0,36224.0,36909.0,NaN
Midcities,6991.0,4722.0,7004.0,5952.0,8025.0,10034.0,8649.0,8481.0,4101.0,NaN
Indianapolis,36641.0,26422.0,33994.0,41137.0,50019.0,55431.0,47921.0,38114.0,40584.0,NaN
Jacksonville,26437.0,19472.0,25949.0,26335.0,29386.0,31091.0,30171.0,24505.0,23655.0,NaN
Kansas City,32474.0,24419.0,38461.0,38911.0,47423.0,46730.0,43781.0,35903.0,34978.0,NaN
Memphis,32306.0,27711.0,44153.0,55133.0,67393.0,58798.0,50221.0,38566.0,32325.0,NaN
Milwaukee,27010.0,20931.0,30084.0,32859.0,41777.0,52914.0,47418.0,35407.0,34222.0,NaN
Nassau / Long Island,34188.0,28436.0,31604.0,39346.0,38049.0,40801.0,16289.0,13928.0,12309.0,NaN
Philadelphia,26124.0,21575.0,28671.0,32505.0,32384.0,37639.0,31008.0,28344.0,21483.0,NaN
Pittsburgh,47171.0,37700.0,46830.0,52042.0,54303.0,53050.0,53525.0,39915.0,37846.0,NaN
Providence,26163.0,21724.0,26391.0,31770.0,37474.0,44074.0,46607.0,40670.0,30058.0,NaN
Suffolk,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
Tampa,23653.0,18084.0,22219.0,26373.0,28851.0,26633.0,24797.0,21404.0,18939.0,NaN
Toronto,53823.0,47361.0,61080.0,60310.0,58791.0,61888.0,80439.0,71329.0,59294.0,NaN
Vancouver,49097.0,51247.0,68538.0,77421.0,57526.0,63281.0,65556.0,59351.0,46081.0,NaN
Inland Empire,20072.0,13303.0,18752.0,25526.0,31528.0,35471.0,26979.0,18841.0,20242.0,NaN
Los Angeles,12148.0,10030.0,14897.0,17139.0,16566.0,17129.0,45302.0,37853.0,27094.0,NaN
Orange County,17019.0,14409.0,22362.0,23341.0,25912.0,26387.0,25900.0,23453.0,26282.0,NaN
San Diego,20414.0,16045.0,27125.0,24889.0,29099.0,29388.0,21459.0,25625.0,24905.0,NaN
San Fernando,7378.0,5492.0,8150.0,9015.0,8941.0,11460.0,9313.0,10557.0,7113.0,NaN
San Francisco,7351.0,4697.0,5950.0,5589.0,6597.0,7532.0,8029.0,7144.0,5606.0,NaN
San Jose,24068.0,21308.0,24300.0,30846.0,33199.0,32232.0,29619.0,24889.0,31102.0,NaN
Portland,19329.0,14550.0,19219.0,21525.0,16262.0,20721.0,19892.0,18598.0,17090.0,NaN
Seattle,25630.0,19217.0,29526.0,27840.0,28611.0,29687.0,26200.0,27505.0,21182.0,NaN

In [44]:
df_sessions = df_2023[df_2023["Sec"]=="# visits/month (sessions)"].transpose().drop('Sec')
df_sessions

,274,275,276,277,278,279,280,281,282,283
Date,Jan 2023,Feb 2023,Mar 2023,Apr 2023,May 2023,June 2023,July 2023,Aug 2023,Sept 2023,Oct 2023
Rochester,792658.0,576343.0,713717.0,210467.0,71931.0,87949.0,88742.0,80043.0,56458.0,154284.0
Albany,35433.0,26574.0,28394.0,31511.0,34377.0,43382.0,41224.0,36524.0,22123.0,NaN
Fairfield County,22568.0,13122.0,12718.0,16082.0,22485.0,20007.0,19021.0,16807.0,11822.0,NaN
Buffalo,41732.0,34662.0,40224.0,39314.0,43465.0,55658.0,58940.0,45539.0,27299.0,NaN
Houston,39823.0,30086.0,42433.0,46678.0,50578.0,58326.0,66509.0,39301.0,34028.0,NaN
Salt Lake,28487.0,20763.0,25457.0,27379.0,34360.0,43821.0,34287.0,26329.0,21658.0,NaN
Ann Arbor/Detroit,15687.0,8983.0,9999.0,11974.0,15290.0,15800.0,13662.0,11826.0,22123.0,NaN
St. Louis,43831.0,33092.0,40132.0,36507.0,46942.0,56678.0,48311.0,38124.0,32931.0,NaN
Westchester,24443.0,16395.0,18948.0,18366.0,23392.0,25179.0,24154.0,22205.0,19540.0,NaN
Hudson Valley,21445.0,14425.0,20034.0,20739.0,25970.0,30303.0,22987.0,22186.0,15678.0,NaN
Hartford,14957.0,8693.0,9309.0,12490.0,13677.0,15168.0,13986.0,13539.0,8865.0,NaN
Denver,41888.0,29022.0,34411.0,32662.0,38477.0,41460.0,39808.0,35138.0,36359.0,NaN
Austin,28501.0,19117.0,26857.0,33511.0,34035.0,41380.0,37782.0,25044.0,19073.0,NaN
San Antonio,35936.0,28544.0,42534.0,50093.0,50321.0,57775.0,52501.0,37379.0,30021.0,NaN
Nashville,24647,16036,21862,22512,28796,34297,28818,21392,18461,NaN
MSP,27817.0,18937.0,24265.0,21649.0,24531.0,28645.0,28641.0,23917.0,18125.0,NaN
Atlanta,21558.0,14470.0,19116.0,23322.0,28666.0,31187.0,26726.0,20061.0,15652.0,NaN
Phoenix,29032.0,23122.0,31874.0,34249.0,40417.0,40191.0,33608.0,28479.0,25078.0,NaN
Research Triangle,12226.0,6109.0,7675.0,10610.0,13434.0,15229.0,11816.0,10955.0,8384.0,NaN
Charlotte,29110.0,21039.0,24317.0,28382.0,34606.0,34437.0,35824.0,29196.0,27164.0,NaN
Dallas,35467.0,25237.0,41756.0,37014.0,51177.0,54336.0,56005.0,35382.0,29969.0,NaN
DMV,19622.0,11367.0,14805.0,18471.0,19026.0,20545.0,22081.0,16662.0,12949.0,NaN
Ft Worth,19851.0,13461.0,19631.0,21855.0,32388.0,36622.0,33070.0,18653.0,14928.0,NaN
Midcities,5270.0,2922.0,3987.0,3128.0,4450.0,7058.0,6883.0,5953.0,2150.0,NaN
Indianapolis,21277.0,13217.0,15318.0,20707.0,27961.0,34049.0,29645.0,24122.0,23291.0,NaN
Jacksonville,16375.0,10225.0,12888.0,13341.0,15562.0,16067.0,15702.0,14097.0,11724.0,NaN
Kansas City,16846.0,10732.0,14575.0,15846.0,21511.0,21093.0,19023.0,17032.0,15686.0,NaN
Memphis,5590.0,5590.0,5590.0,5590.0,5590.0,5590.0,5590.0,5590.0,5590.0,NaN
Milwaukee,15493.0,9436.0,11640.0,14934.0,22725.0,28568.0,25581.0,19102.0,17613.0,NaN
Nassau / Long Island,19553.0,13784.0,14745.0,20420.0,21850.0,21858.0,8295.0,7152.0,5618.0,NaN
Philadelphia,15525.0,10627.0,13590.0,16189.0,17386.0,19965.0,16803.0,16139.0,10525.0,NaN
Pittsburgh,21656.0,15146.0,17651.0,22079.0,26191.0,24641.0,25084.0,19273.0,14866.0,NaN
Providence,13799.0,8407.0,9073.0,13388.0,20240.0,22141.0,24404.0,22306.0,14198.0,NaN
Suffolk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tampa,14522.0,9454.0,10036.0,12825.0,15302.0,14314.0,13213.0,12296.0,9011.0,NaN
Toronto,30505.0,25047.0,30493.0,30124.0,32675.0,33293.0,43796.0,40804.0,30596.0,NaN
Vancouver,26191.0,23788.0,28188.0,31962.0,28180.0,33180.0,32345.0,31110.0,20355.0,NaN
Inland Empire,12052.0,6241.0,7020.0,10661.0,13418.0,14784.0,11964.0,9015.0,8157.0,NaN
Los Angeles,6577.0,4549.0,6503.0,7696.0,7298.0,7985.0,24898.0,21282.0,13538.0,NaN
Orange County,9467.0,6738.0,8899.0,9628.0,11178.0,12459.0,14187.0,13433.0,13200.0,NaN
San Diego,11863.0,7011.0,9911.0,10328.0,12501.0,12689.0,11292.0,11823.0,11266.0,NaN
San Fernando,4203.0,2852.0,3323.0,4182.0,3731.0,5142.0,5333.0,5010.0,2760.0,NaN
San Francisco,4093.0,2141.0,1863.0,2666.0,3322.0,4072.0,4500.0,3621.0,1999.0,NaN
San Jose,14323.0,10153.0,10211.0,14705.0,15688.0,14959.0,13886.0,12199.0,12155.0,NaN
Portland,8963.0,5423.0,6526.0,8163.0,6389.0,9481.0,9232.0,8796.0,6483.0,NaN
Seattle,11894.0,7592.0,12208.0,11819.0,13366.0,13109.0,12702.0,12780.0,8462.0,NaN

In [46]:
with pd.ExcelWriter('UA Data Parsed.xlsx') as w:
    df_users.to_excel(w,sheet_name='users - 2023', index = True)
    df_sessions.to_excel(w,sheet_name='session - 2023', index = True)
    df_pageviews.to_excel(w, sheet_name='pageviews - 2023', index = True)