In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_excel('yearly_readers.xlsx')

In [3]:
df.head(5)

,# Readers/year,Month,Rochester,% increase,Albany,% increase.1,Fairfield County,% increase.2,Buffalo,% increase.3,...,Orange County,Unnamed: 60,San Diego,San Fernando,San Francisco,San Jose,Portland,Seattle,Main KOAA site,Site totals
0,NaN,2012-01-01,239036.0,NaN,30578.0,NaN,26776.0,NaN,5009.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301399.0
1,NaN,2012-02-01,246455.0,NaN,33235.0,NaN,28354.0,NaN,5457.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,313501.0
2,NaN,2012-03-01,254733.0,NaN,36386.0,NaN,30184.0,NaN,5950.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,327253.0
3,NaN,2012-04-01,263758.0,NaN,39000.0,NaN,32366.0,NaN,6641.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,341765.0
4,NaN,2012-05-01,265369.0,NaN,41290.0,NaN,35049.0,NaN,7255.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,348963.0

In [4]:
df.tail(5)

,# Readers/year,Month,Rochester,% increase,Albany,% increase.1,Fairfield County,% increase.2,Buffalo,% increase.3,...,Orange County,Unnamed: 60,San Diego,San Fernando,San Francisco,San Jose,Portland,Seattle,Main KOAA site,Site totals
144,NaN,2024-01-01,NaN,NaN,243372.0,0.7702,123543.0,0.5772,324649.0,0.8222,...,111147.0,1.5186,107845.0,31769.0,23477.0,118017.0,75764.0,109926.0,NaN,NaN
145,NaN,2024-02-01,NaN,NaN,244803.0,0.7779,124324.0,0.5884,324126.0,0.8152,...,117498.0,1.5507,118772.0,31924.0,24398.0,120107.0,80406.0,117523.0,NaN,NaN
146,NaN,2024-03-01,NaN,NaN,246174.0,0.7808,123771.0,0.5925,324126.0,0.8129,...,125064.0,1.5504,132509.0,32937.0,26105.0,123708.0,87893.0,125097.0,NaN,NaN
147,NaN,2024-04-01,NaN,NaN,245495.0,0.7748,123092.0,0.5942,317979.0,0.7902,...,133009.0,1.5745,144980.0,32645.0,27242.0,123269.0,91131.0,129928.0,NaN,NaN
148,NaN,2024-05-01,NaN,NaN,243811.0,0.7621,118844.0,0.5714,314200.0,0.7624,...,138686.0,1.5834,156418.0,33037.0,28436.0,124644.0,94643.0,132766.0,NaN,NaN

In [5]:
df.shape

(149, 69)

In [6]:
df=df.loc[:, ~df.columns.str.contains('^Unnamed')]

In [7]:
col_to_remove = df.filter(like = "%").columns.to_list()

In [8]:
col_to_remove.append('# Readers/year')

In [9]:
df.drop(columns=col_to_remove,inplace=True)

In [10]:
df.columns

Index(['Month', 'Rochester', 'Albany', 'Fairfield County', 'Buffalo',
       'Houston', 'Salt Lake', 'Ann Arbor/Detroit', 'St. Louis', 'Westchester',
       'Hudson Valley', 'Hartford', 'Denver', 'Austin', 'San Antonio',
       'Nashville', 'MSP', 'Atlanta', 'Phoenix', 'Research Triangle',
       'Charlotte', 'Dallas', 'DMV', 'Ft Worth', 'Midcities', 'Indianapolis',
       'Jacksonville', 'Kansas City', 'Memphis', 'Milwaukee',
       'Nassau / Long Island', 'Philadelphia', 'Pittsburgh', 'Providence',
       'Suffolk', 'Tampa', 'Toronto', 'Vancouver', 'Inland Empire',
       'Los Angeles', 'Orange County', 'San Diego', 'San Fernando',
       'San Francisco', 'San Jose', 'Portland', 'Seattle', 'Main KOAA site',
       'Site totals'],
      dtype='object')

In [11]:
df=df.drop(columns=['Site totals','Main KOAA site'])

In [12]:
df.fillna(0, inplace=True)

In [13]:
df.dtypes

Month                   datetime64[ns]
Rochester                      float64
Albany                         float64
Fairfield County               float64
Buffalo                        float64
Houston                        float64
Salt Lake                      float64
Ann Arbor/Detroit              float64
St. Louis                      float64
Westchester                    float64
Hudson Valley                  float64
Hartford                       float64
Denver                         float64
Austin                         float64
San Antonio                    float64
Nashville                      float64
MSP                            float64
Atlanta                        float64
Phoenix                        float64
Research Triangle              float64
Charlotte                      float64
Dallas                         float64
DMV                            float64
Ft Worth                       float64
Midcities                      float64
Indianapolis                   float64
Jacksonville                   float64
Kansas City                    float64
Memphis                        float64
Milwaukee                      float64
Nassau / Long Island           float64
Philadelphia                   float64
Pittsburgh                     float64
Providence                     float64
Suffolk                        float64
Tampa                          float64
Toronto                        float64
Vancouver                      float64
Inland Empire                  float64
Los Angeles                    float64
Orange County                  float64
San Diego                      float64
San Fernando                   float64
San Francisco                  float64
San Jose                       float64
Portland                       float64
Seattle                        float64
dtype: object

In [16]:
df[df.columns[df.columns!='Month']] = df[df.columns[df.columns!='Month']].astype(int)

In [17]:
df.dtypes

Month                   datetime64[ns]
Rochester                        int64
Albany                           int64
Fairfield County                 int64
Buffalo                          int64
Houston                          int64
Salt Lake                        int64
Ann Arbor/Detroit                int64
St. Louis                        int64
Westchester                      int64
Hudson Valley                    int64
Hartford                         int64
Denver                           int64
Austin                           int64
San Antonio                      int64
Nashville                        int64
MSP                              int64
Atlanta                          int64
Phoenix                          int64
Research Triangle                int64
Charlotte                        int64
Dallas                           int64
DMV                              int64
Ft Worth                         int64
Midcities                        int64
Indianapolis                     int64
Jacksonville                     int64
Kansas City                      int64
Memphis                          int64
Milwaukee                        int64
Nassau / Long Island             int64
Philadelphia                     int64
Pittsburgh                       int64
Providence                       int64
Suffolk                          int64
Tampa                            int64
Toronto                          int64
Vancouver                        int64
Inland Empire                    int64
Los Angeles                      int64
Orange County                    int64
San Diego                        int64
San Fernando                     int64
San Francisco                    int64
San Jose                         int64
Portland                         int64
Seattle                          int64
dtype: object

# GA4 Comparison File

In [211]:
ga = pd.read_excel('ga4comparison.xlsx',sheet_name='Percent difference',skiprows=1)

In [212]:
ga

,Total Users,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,Rochester,-0.902547,-0.949660,-0.917837,-0.743005,-0.288714,-0.198203,-0.153928,-0.309624,-0.046904,-0.113651,NaN,NaN
1,Los Angeles,-0.470415,-0.169750,-0.010958,-0.140331,-0.139763,-0.177296,-0.158247,-0.317556,-0.147260,NaN,NaN,NaN
2,Orange County,-0.347923,-0.135365,-0.005875,-0.081766,-0.085236,-0.123352,-0.091936,-0.195403,-0.023558,NaN,NaN,NaN
3,Dallas,-0.307562,-0.099350,-0.001775,-0.080321,-0.164961,-0.091888,-0.058270,-0.182866,-0.006558,NaN,NaN,NaN
4,Kansas City,-0.474951,-0.202642,-0.020795,-0.158460,-0.308001,-0.198478,-0.155820,-0.227822,-0.040736,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,Seattle,-1.000000,-1.000000,-1.000000,-0.682507,-0.057705,-0.065584,0.035115,-0.140265,-0.008309,NaN,NaN,NaN
194,Tampa,-1.000000,-1.000000,-1.000000,-0.622151,-0.171710,-0.145834,-0.047465,-0.191460,-0.007762,NaN,NaN,NaN
195,Toronto,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-0.253585,-0.014757,NaN,NaN,NaN
196,Vancouver,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-0.256087,0.009049,NaN,NaN,NaN
197,Westchester,-1.000000,-1.000000,-1.000000,-0.680167,-0.158863,-0.135610,-0.083034,0.076896,0.107703,NaN,NaN,NaN

In [213]:
ga.dtypes

Total Users     object
Jan            float64
Feb            float64
Mar            float64
Apr            float64
May            float64
Jun            float64
Jul            float64
Aug            float64
Sep            float64
Oct            float64
Nov            float64
Dec            float64
dtype: object

In [214]:
ga=ga[:48]

In [215]:
ga.drop(columns=['Oct','Nov','Dec'],inplace=True)

/var/folders/rv/g2dxdl8d0cs8r1fdld2vzkxm0000gn/T/ipykernel_9966/703773121.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ga.drop(columns=['Oct','Nov','Dec'],inplace=True)

In [216]:
ga

,Total Users,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep
0,Rochester,-0.902547,-0.949660,-0.917837,-0.743005,-0.288714,-0.198203,-0.153928,-0.309624,-0.046904
1,Los Angeles,-0.470415,-0.169750,-0.010958,-0.140331,-0.139763,-0.177296,-0.158247,-0.317556,-0.147260
2,Orange County,-0.347923,-0.135365,-0.005875,-0.081766,-0.085236,-0.123352,-0.091936,-0.195403,-0.023558
3,Dallas,-0.307562,-0.099350,-0.001775,-0.080321,-0.164961,-0.091888,-0.058270,-0.182866,-0.006558
4,Kansas City,-0.474951,-0.202642,-0.020795,-0.158460,-0.308001,-0.198478,-0.155820,-0.227822,-0.040736
5,Albany,-0.403952,-0.139838,-0.008740,-0.142930,-0.299792,-0.163841,-0.199666,-0.273171,0.009920
6,Ann Arbor - Detroit,-0.552270,-0.224179,0.000470,-0.207295,-0.443821,-0.327136,-0.132868,-0.297742,-0.680473
7,Atlanta,-0.338482,-0.084658,-0.017786,-0.095318,-0.216912,-0.133902,-0.047819,-0.273267,-0.035139
8,Austin,-0.367668,-0.151521,-0.017635,-0.096323,-0.280945,-0.150541,-0.065164,-0.304027,-0.004537
9,Boston,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Brooklyn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Buffalo,-0.666685,-0.099459,-0.003317,-0.016215,-0.225187,-0.121267,-0.110907,-0.250731,-0.029076
12,Charlotte,-0.294000,-0.102836,-0.039031,-0.104906,-0.221357,-0.144706,-0.069903,-0.216159,-0.003413
13,Denver,-0.330963,-0.098507,-0.016051,-0.140447,-0.270269,-0.108228,-0.106784,-0.228728,-0.017213
14,DMV,-0.399348,-0.150875,-0.006619,-0.131612,-0.334752,-0.211682,-0.114397,-0.196675,-0.006950
15,FairField County,-0.514263,-0.215289,-0.018669,-0.206283,-0.382315,-0.329290,-0.193248,-0.337568,-0.050293
16,Fort Worth,-0.441478,-0.151180,-0.014203,-0.146506,-0.251239,-0.147834,-0.102821,-0.364470,-0.024964
17,Hartford,-0.519061,-0.211907,-0.211697,-0.186830,-0.442972,-0.288677,-0.189497,-0.409913,-0.019228
18,Houstan,-0.756783,-0.138804,-0.011152,-0.087890,-0.214726,-0.117701,-0.127050,-0.336705,-0.023405
19,Hudson Valley,-0.431379,-0.140492,-0.023245,-0.139677,-0.282261,-0.181047,-0.130562,-0.230051,-0.017591
20,Indianapolis,-0.438866,-0.171886,-0.002972,-0.164713,-0.288027,-0.187709,-0.114511,-0.293242,-0.016855
21,Inland Empire,-0.554966,-0.208612,-0.011611,-0.189987,-0.265005,-0.182214,-0.136986,-0.189878,-0.037418
22,Jacksonvillie,-0.394608,-0.140705,-0.023517,-0.125643,-0.345878,-0.237688,-0.172900,-0.364204,-0.030272
23,Longisland,-0.440589,-0.148208,-0.018456,-0.103914,-0.291821,-0.206998,1.623703,1.423821,1.248187
24,Memphis,-0.734214,-0.144230,-0.002408,-0.088670,-0.214979,-0.157748,-0.083987,-0.327430,0.157508
25,Midcities,-0.757067,-0.424254,-0.025837,-0.388694,-0.522087,-0.731883,-0.738807,-0.780007,-0.116143
26,Milwauee,-0.516305,-0.196359,-0.008054,-0.173063,-0.312337,-0.182006,-0.116729,-0.155217,-0.028137
27,MSP,-0.676521,-0.102469,-0.000298,-0.137589,-0.286976,-0.156033,-0.101678,-0.250024,-0.011298
28,Nashville,-0.245987,-0.110169,-0.010305,-0.095875,-0.249980,-0.137664,-0.079956,-0.171646,-0.031306
29,Philly,-0.461652,-0.142515,-0.013023,-0.115387,-0.337974,-0.230125,-0.126153,-0.229898,-0.028061
30,Phoenix,-0.340587,-0.120513,-0.011680,-0.102223,-0.222239,-0.172994,-0.122759,-0.270651,-0.014832
31,Pittsburgh,-0.380724,-0.139964,0.001117,-0.099827,-0.245052,-0.211860,-0.084876,-0.173017,-0.000587
32,Portland,-0.318152,-0.123049,-0.005085,-0.064922,-0.177072,-0.195315,-0.180660,-0.364874,-0.036154
33,Providence,-0.780059,-0.205003,0.013953,-0.131929,-0.308882,-0.240917,-0.105030,-0.246993,-0.057414
34,Queens,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Research Triangle,-0.580495,-0.309174,-0.041825,-0.216164,-0.452260,-0.307223,-0.211613,-0.432746,-0.051843
36,Saint Louis,-0.674294,-0.105705,-0.019688,-0.114229,-0.210600,-0.138281,-0.087647,-0.253256,-0.007984
37,Salt lake City,-0.706273,-0.128736,-0.023261,-0.114091,-0.244281,-0.155876,-0.099194,-0.205558,-0.015095
38,San Antonio,-0.297039,-0.107062,0.001571,-0.069514,-0.167507,-0.127198,-0.076024,-0.271089,-0.029819
39,San Diego,-0.555973,-0.212166,-0.006659,-0.186268,-0.250591,-0.235839,-0.167304,-0.311062,-0.008756
40,San Fernando,-0.747483,-0.221526,-0.011765,-0.156149,-0.129862,-0.270247,-0.349854,-0.471074,-0.028107
41,San Francisco,-0.836660,-0.351025,-0.038635,-0.243278,-0.374702,-0.475652,-0.510253,-0.416300,-0.090964
42,San Jose,-0.508555,-0.202994,-0.030925,-0.153379,-0.264857,-0.203115,-0.126730,-0.174031,-0.030037
43,Seattle,-0.753501,-0.218340,-0.025167,-0.162301,-0.155921,-0.204519,-0.119357,-0.250506,-0.045559
44,Tampa,-0.794971,-0.263666,-0.063440,-0.160406,-0.375027,-0.318092,-0.184561,-0.401339,-0.062948
45,Toronto,-0.682471,-0.090359,-0.005398,-0.077650,-0.188060,-0.136424,-0.330211,-0.315462,-0.021402
46,Vancouver,-0.670812,-0.128112,-0.051032,-0.074983,-0.236017,-0.163234,-0.049419,-0.153107,-0.016628
47,Westchester,-0.731425,-0.187820,-0.166406,-0.161744,-0.351922,-0.280963,-0.200766,-0.099779,-0.075118

In [217]:
ga.dropna(inplace=True)

/var/folders/rv/g2dxdl8d0cs8r1fdld2vzkxm0000gn/T/ipykernel_9966/2804243621.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ga.dropna(inplace=True)

In [218]:
ga.set_index('Total Users',inplace=True)

In [219]:
ga

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep
Total Users,,,,,,,,,
Rochester,-0.902547,-0.949660,-0.917837,-0.743005,-0.288714,-0.198203,-0.153928,-0.309624,-0.046904
Los Angeles,-0.470415,-0.169750,-0.010958,-0.140331,-0.139763,-0.177296,-0.158247,-0.317556,-0.147260
Orange County,-0.347923,-0.135365,-0.005875,-0.081766,-0.085236,-0.123352,-0.091936,-0.195403,-0.023558
Dallas,-0.307562,-0.099350,-0.001775,-0.080321,-0.164961,-0.091888,-0.058270,-0.182866,-0.006558
Kansas City,-0.474951,-0.202642,-0.020795,-0.158460,-0.308001,-0.198478,-0.155820,-0.227822,-0.040736
Albany,-0.403952,-0.139838,-0.008740,-0.142930,-0.299792,-0.163841,-0.199666,-0.273171,0.009920
Ann Arbor - Detroit,-0.552270,-0.224179,0.000470,-0.207295,-0.443821,-0.327136,-0.132868,-0.297742,-0.680473
Atlanta,-0.338482,-0.084658,-0.017786,-0.095318,-0.216912,-0.133902,-0.047819,-0.273267,-0.035139
Austin,-0.367668,-0.151521,-0.017635,-0.096323,-0.280945,-0.150541,-0.065164,-0.304027,-0.004537
Buffalo,-0.666685,-0.099459,-0.003317,-0.016215,-0.225187,-0.121267,-0.110907,-0.250731,-0.029076
Charlotte,-0.294000,-0.102836,-0.039031,-0.104906,-0.221357,-0.144706,-0.069903,-0.216159,-0.003413
Denver,-0.330963,-0.098507,-0.016051,-0.140447,-0.270269,-0.108228,-0.106784,-0.228728,-0.017213
DMV,-0.399348,-0.150875,-0.006619,-0.131612,-0.334752,-0.211682,-0.114397,-0.196675,-0.006950
FairField County,-0.514263,-0.215289,-0.018669,-0.206283,-0.382315,-0.329290,-0.193248,-0.337568,-0.050293
Fort Worth,-0.441478,-0.151180,-0.014203,-0.146506,-0.251239,-0.147834,-0.102821,-0.364470,-0.024964
Hartford,-0.519061,-0.211907,-0.211697,-0.186830,-0.442972,-0.288677,-0.189497,-0.409913,-0.019228
Houstan,-0.756783,-0.138804,-0.011152,-0.087890,-0.214726,-0.117701,-0.127050,-0.336705,-0.023405
Hudson Valley,-0.431379,-0.140492,-0.023245,-0.139677,-0.282261,-0.181047,-0.130562,-0.230051,-0.017591
Indianapolis,-0.438866,-0.171886,-0.002972,-0.164713,-0.288027,-0.187709,-0.114511,-0.293242,-0.016855
Inland Empire,-0.554966,-0.208612,-0.011611,-0.189987,-0.265005,-0.182214,-0.136986,-0.189878,-0.037418
Jacksonvillie,-0.394608,-0.140705,-0.023517,-0.125643,-0.345878,-0.237688,-0.172900,-0.364204,-0.030272
Longisland,-0.440589,-0.148208,-0.018456,-0.103914,-0.291821,-0.206998,1.623703,1.423821,1.248187
Memphis,-0.734214,-0.144230,-0.002408,-0.088670,-0.214979,-0.157748,-0.083987,-0.327430,0.157508
Midcities,-0.757067,-0.424254,-0.025837,-0.388694,-0.522087,-0.731883,-0.738807,-0.780007,-0.116143
Milwauee,-0.516305,-0.196359,-0.008054,-0.173063,-0.312337,-0.182006,-0.116729,-0.155217,-0.028137
MSP,-0.676521,-0.102469,-0.000298,-0.137589,-0.286976,-0.156033,-0.101678,-0.250024,-0.011298
Nashville,-0.245987,-0.110169,-0.010305,-0.095875,-0.249980,-0.137664,-0.079956,-0.171646,-0.031306
Philly,-0.461652,-0.142515,-0.013023,-0.115387,-0.337974,-0.230125,-0.126153,-0.229898,-0.028061
Phoenix,-0.340587,-0.120513,-0.011680,-0.102223,-0.222239,-0.172994,-0.122759,-0.270651,-0.014832
Pittsburgh,-0.380724,-0.139964,0.001117,-0.099827,-0.245052,-0.211860,-0.084876,-0.173017,-0.000587
Portland,-0.318152,-0.123049,-0.005085,-0.064922,-0.177072,-0.195315,-0.180660,-0.364874,-0.036154
Providence,-0.780059,-0.205003,0.013953,-0.131929,-0.308882,-0.240917,-0.105030,-0.246993,-0.057414
Research Triangle,-0.580495,-0.309174,-0.041825,-0.216164,-0.452260,-0.307223,-0.211613,-0.432746,-0.051843
Saint Louis,-0.674294,-0.105705,-0.019688,-0.114229,-0.210600,-0.138281,-0.087647,-0.253256,-0.007984
Salt lake City,-0.706273,-0.128736,-0.023261,-0.114091,-0.244281,-0.155876,-0.099194,-0.205558,-0.015095
San Antonio,-0.297039,-0.107062,0.001571,-0.069514,-0.167507,-0.127198,-0.076024,-0.271089,-0.029819
San Diego,-0.555973,-0.212166,-0.006659,-0.186268,-0.250591,-0.235839,-0.167304,-0.311062,-0.008756
San Fernando,-0.747483,-0.221526,-0.011765,-0.156149,-0.129862,-0.270247,-0.349854,-0.471074,-0.028107
San Francisco,-0.836660,-0.351025,-0.038635,-0.243278,-0.374702,-0.475652,-0.510253,-0.416300,-0.090964
San Jose,-0.508555,-0.202994,-0.030925,-0.153379,-0.264857,-0.203115,-0.126730,-0.174031,-0.030037
Seattle,-0.753501,-0.218340,-0.025167,-0.162301,-0.155921,-0.204519,-0.119357,-0.250506,-0.045559
Tampa,-0.794971,-0.263666,-0.063440,-0.160406,-0.375027,-0.318092,-0.184561,-0.401339,-0.062948
Toronto,-0.682471,-0.090359,-0.005398,-0.077650,-0.188060,-0.136424,-0.330211,-0.315462,-0.021402
Vancouver,-0.670812,-0.128112,-0.051032,-0.074983,-0.236017,-0.163234,-0.049419,-0.153107,-0.016628
Westchester,-0.731425,-0.187820,-0.166406,-0.161744,-0.351922,-0.280963,-0.200766,-0.099779,-0.075118

In [220]:
ga_mean=ga.mean(axis=1)

In [221]:
ga_mean = pd.DataFrame(ga_mean,columns=['mean_per_difference'])

In [222]:
ga_mean['1-mean']= 1 + ga_mean['mean_per_difference']

In [223]:
ga_mean['1-mean']=round(ga_mean['1-mean'],2)

In [224]:
ga_mean

                      mean_per_difference  1-mean
Total Users
Rochester                       -0.501158    0.50
Los Angeles                     -0.192397    0.81
Orange County                   -0.121157    0.88
Dallas                          -0.110394    0.89
Kansas City                     -0.198634    0.80
Albany                          -0.180223    0.82
Ann Arbor  - Detroit            -0.318368    0.68
Atlanta                         -0.138142    0.86
Austin                          -0.159818    0.84
Buffalo                         -0.169205    0.83
Charlotte                       -0.132923    0.87
Denver                          -0.146354    0.85
DMV                             -0.172546    0.83
FairField County                -0.249691    0.75
Fort Worth                      -0.182744    0.82
Hartford                        -0.275531    0.72
Houstan                         -0.201580    0.80
Hudson Valley                   -0.175145    0.82
Indianapolis                    -0.186531    0.81
Inland Empire                   -0.197409    0.80
Jacksonvillie                   -0.203935    0.80
Longisland                       0.342858    1.34
Memphis                         -0.177351    0.82
Midcities                       -0.498309    0.50
Milwauee                        -0.187579    0.81
MSP                             -0.191432    0.81
Nashville                       -0.125876    0.87
Philly                          -0.187199    0.81
Phoenix                         -0.153164    0.85
Pittsburgh                      -0.148310    0.85
Portland                        -0.162809    0.84
Providence                      -0.229141    0.77
Research Triangle               -0.289261    0.71
Saint Louis                     -0.179076    0.82
Salt lake City                  -0.188041    0.81
San Antonio                     -0.127076    0.87
San Diego                       -0.214958    0.79
San Fernando                    -0.265119    0.73
San Francisco                   -0.370830    0.63
San Jose                        -0.188292    0.81
Seattle                         -0.215019    0.78
Tampa                           -0.291606    0.71
Toronto                         -0.205271    0.79
Vancouver                       -0.171483    0.83
Westchester                     -0.250660    0.75

In [225]:
df.columns

Index(['Month', 'Rochester', 'Albany', 'Fairfield County', 'Buffalo',
       'Houston', 'Salt Lake', 'Ann Arbor/Detroit', 'St. Louis', 'Westchester',
       'Hudson Valley', 'Hartford', 'Denver', 'Austin', 'San Antonio',
       'Nashville', 'MSP', 'Atlanta', 'Phoenix', 'Research Triangle',
       'Charlotte', 'Dallas', 'DMV', 'Ft Worth', 'Midcities', 'Indianapolis',
       'Jacksonville', 'Kansas City', 'Memphis', 'Milwaukee',
       'Nassau / Long Island', 'Philadelphia', 'Pittsburgh', 'Providence',
       'Suffolk', 'Tampa', 'Toronto', 'Vancouver', 'Inland Empire',
       'Los Angeles', 'Orange County', 'San Diego', 'San Fernando',
       'San Francisco', 'San Jose', 'Portland', 'Seattle'],
      dtype='object')

In [226]:
df[df.columns[df.columns!='Month']]#==ga_mean.index

,Rochester,Albany,Fairfield County,Buffalo,Houston,Salt Lake,Ann Arbor/Detroit,St. Louis,Westchester,Hudson Valley,...,Vancouver,Inland Empire,Los Angeles,Orange County,San Diego,San Fernando,San Francisco,San Jose,Portland,Seattle
0,239036,30578,26776,5009,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,246455,33235,28354,5457,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,254733,36386,30184,5950,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,263758,39000,32366,6641,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,265369,41290,35049,7255,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,0,243372,123543,324649,405567,258633,99864,361398,170006,171801,...,238088,89408,74089,111147,107845,31769,23477,118017,75764,109926
145,0,244803,124324,324126,416597,261535,102522,365566,171088,173512,...,240464,90437,81278,117498,118772,31924,24398,120107,80406,117523
146,0,246174,123771,324126,433274,265711,104568,377903,173601,171998,...,247844,93509,96693,125064,132509,32937,26105,123708,87893,125097
147,0,245495,123092,317979,434686,264805,104584,381159,173540,170001,...,241582,92443,108087,133009,144980,32645,27242,123269,91131,129928
148,0,243811,118844,314200,436849,264805,104978,387029,174859,166043,...,241085,91786,120262,138686,156418,33037,28436,124644,94643,132766

In [227]:
df_col=set(sorted(df.columns))
ga_col=set(sorted(ga_mean.T.columns))

mismatched  = df_col.symmetric_difference(ga_col)

list(mismatched)

['Philadelphia',
 'Milwaukee',
 'Fairfield County',
 'Philly',
 'Fort Worth',
 'Ft Worth',
 'Salt Lake',
 'Suffolk',
 'Longisland',
 'FairField County',
 'Ann Arbor  - Detroit',
 'Jacksonville',
 'Month',
 'Milwauee',
 'Ann Arbor/Detroit',
 'Salt lake City',
 'Saint Louis',
 'Houstan',
 'St. Louis',
 'Jacksonvillie',
 'Houston',
 'Nassau / Long Island']

In [228]:
ga_mean

                      mean_per_difference  1-mean
Total Users
Rochester                       -0.501158    0.50
Los Angeles                     -0.192397    0.81
Orange County                   -0.121157    0.88
Dallas                          -0.110394    0.89
Kansas City                     -0.198634    0.80
Albany                          -0.180223    0.82
Ann Arbor  - Detroit            -0.318368    0.68
Atlanta                         -0.138142    0.86
Austin                          -0.159818    0.84
Buffalo                         -0.169205    0.83
Charlotte                       -0.132923    0.87
Denver                          -0.146354    0.85
DMV                             -0.172546    0.83
FairField County                -0.249691    0.75
Fort Worth                      -0.182744    0.82
Hartford                        -0.275531    0.72
Houstan                         -0.201580    0.80
Hudson Valley                   -0.175145    0.82
Indianapolis                    -0.186531    0.81
Inland Empire                   -0.197409    0.80
Jacksonvillie                   -0.203935    0.80
Longisland                       0.342858    1.34
Memphis                         -0.177351    0.82
Midcities                       -0.498309    0.50
Milwauee                        -0.187579    0.81
MSP                             -0.191432    0.81
Nashville                       -0.125876    0.87
Philly                          -0.187199    0.81
Phoenix                         -0.153164    0.85
Pittsburgh                      -0.148310    0.85
Portland                        -0.162809    0.84
Providence                      -0.229141    0.77
Research Triangle               -0.289261    0.71
Saint Louis                     -0.179076    0.82
Salt lake City                  -0.188041    0.81
San Antonio                     -0.127076    0.87
San Diego                       -0.214958    0.79
San Fernando                    -0.265119    0.73
San Francisco                   -0.370830    0.63
San Jose                        -0.188292    0.81
Seattle                         -0.215019    0.78
Tampa                           -0.291606    0.71
Toronto                         -0.205271    0.79
Vancouver                       -0.171483    0.83
Westchester                     -0.250660    0.75

In [229]:
ga_mean=ga_mean.T

In [236]:
ga_mean=ga_mean.rename(columns={
    'Philly':'Philadelphia',
    'Milwauee':'Milwaukee',
    'FairField County':'Fairfield County',
    'Fort Worth':'Ft Worth',
    'Salt lake City':'Salt Lake',
    'Longisland':'Nassau / Long Island',
    'Ann Arbor  - Detroit':'Ann Arbor/Detroit',
    'Saint Louis':'St. Louis'  ,
    'Jacksonvillie':'Jacksonville',
    'Houstan':'Houston'
    })

In [238]:
ga_mean=ga_mean.T

In [245]:
ga_mean.reset_index(inplace=True)

In [241]:
from datetime import datetime

df['Month'] = pd.to_datetime(df['Month']).dt.strftime('%b %Y')

In [257]:
df_toConvert=df.iloc[:142]
df_toConvert

,Month,Rochester,Albany,Fairfield County,Buffalo,Houston,Salt Lake,Ann Arbor/Detroit,St. Louis,Westchester,...,Vancouver,Inland Empire,Los Angeles,Orange County,San Diego,San Fernando,San Francisco,San Jose,Portland,Seattle
0,Jan 2012,239036,30578,26776,5009,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Feb 2012,246455,33235,28354,5457,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Mar 2012,254733,36386,30184,5950,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Apr 2012,263758,39000,32366,6641,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,May 2012,265369,41290,35049,7255,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,Jun 2023,6174398,325749,208430,420176,457980,302536,148010,451328,220077,...,270999,130807,63827,92151,108305,43629,36105,138731,69027,108868
138,Jul 2023,0,324902,203365,419570,464639,295904,142497,442564,216657,...,266600,124488,66892,96807,106353,43956,36022,138229,72912,109541
139,Aug 2023,5030253,330633,204467,422919,473831,298157,140621,441643,220180,...,272602,126033,71098,103227,109317,46375,38195,139678,76710,112519
140,Sep 2023,4387596,321762,191878,408108,464402,294721,134904,429838,217746,...,272064,120189,72041,107921,111887,44939,36576,139614,7565,112735
141,Oct 2023,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [259]:
mean_dict = ga_mean.set_index('Total Users')['1-mean'].to_dict()

df_new = df_toConvert.copy()

for col in df_toConvert.columns[1:]:
    if col in mean_dict:
        df_new[col] = round(df_toConvert[col] * mean_dict[col]).astype(int)
    
df_new

,Month,Rochester,Albany,Fairfield County,Buffalo,Houston,Salt Lake,Ann Arbor/Detroit,St. Louis,Westchester,...,Vancouver,Inland Empire,Los Angeles,Orange County,San Diego,San Fernando,San Francisco,San Jose,Portland,Seattle
0,Jan 2012,119518,25074,20082,4157,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Feb 2012,123228,27253,21266,4529,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Mar 2012,127366,29837,22638,4938,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Apr 2012,131879,31980,24274,5512,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,May 2012,132684,33858,26287,6022,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,Jun 2023,3087199,267114,156322,348746,366384,245054,100647,370089,165058,...,224929,104646,51700,81093,85561,31849,22746,112372,57983,84917
138,Jul 2023,0,266420,152524,348243,371711,239682,96898,362902,162493,...,221278,99590,54183,85190,84019,32088,22694,111965,61246,85442
139,Aug 2023,2515126,271119,153350,351023,379065,241507,95622,362147,165135,...,226260,100826,57589,90840,86360,33854,24063,113139,64436,87765
140,Sep 2023,2193798,263845,143908,338730,371522,238724,91735,352467,163310,...,225813,96151,58353,94970,88391,32805,23043,113087,6355,87933
141,Oct 2023,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [260]:
df_new = pd.concat([df_new,df[142:]])

In [261]:
df_new

,Month,Rochester,Albany,Fairfield County,Buffalo,Houston,Salt Lake,Ann Arbor/Detroit,St. Louis,Westchester,...,Vancouver,Inland Empire,Los Angeles,Orange County,San Diego,San Fernando,San Francisco,San Jose,Portland,Seattle
0,Jan 2012,119518,25074,20082,4157,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Feb 2012,123228,27253,21266,4529,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Mar 2012,127366,29837,22638,4938,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Apr 2012,131879,31980,24274,5512,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,May 2012,132684,33858,26287,6022,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,Jan 2024,0,243372,123543,324649,405567,258633,99864,361398,170006,...,238088,89408,74089,111147,107845,31769,23477,118017,75764,109926
145,Feb 2024,0,244803,124324,324126,416597,261535,102522,365566,171088,...,240464,90437,81278,117498,118772,31924,24398,120107,80406,117523
146,Mar 2024,0,246174,123771,324126,433274,265711,104568,377903,173601,...,247844,93509,96693,125064,132509,32937,26105,123708,87893,125097
147,Apr 2024,0,245495,123092,317979,434686,264805,104584,381159,173540,...,241582,92443,108087,133009,144980,32645,27242,123269,91131,129928
148,May 2024,0,243811,118844,314200,436849,264805,104978,387029,174859,...,241085,91786,120262,138686,156418,33037,28436,124644,94643,132766

In [262]:
df_new.to_excel('ua_ga_parsed.xlsx',index=False)